/*Fonts Imported*/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #edf0f1;
    background-color: #24252a;
    font-family: "Inter", sans-serif;
}

li, a {
    font-family: "Inter", sans-serif ;
    font-weight: 400;
    font-size: 16px;
    background-color: #1e2024;
}

header {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #1e2024;
}


/* Navigation Bar Styling */
.nav_links {
    list-style: none;
    background-color: #1e2024;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: rgb(180, 50, 50);
}

.header {
    text-align: center;
    color: rgb(180, 50, 50);
    font-weight: bolder;
    font-size: 250%;
}

.me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    width: 500px;
    height: auto;
    padding-bottom: 30px;
}